<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

</head>
<body>
    <div class="container">
        <div class="form-container">
            <form action="/login" method="POST">
                <h2>LOGIN</h2>
                <div class="input-group">
                    <label for="email">Email or Phone</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</p>
            </form>
        </div>
    </div>
</body>
</html>